<div class="text-center text-light" id="display-main">
  <div class="dark-overlay">
    <app-navbar></app-navbar>
    <h1>About Page</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, quos vitae voluptatum facere alias ducimus nam odit molestias repudiandae id autem! Temporibus unde architecto quibusdam tempore. Quo in pariatur ex eum labore, debitis rerum magnam optio cumque molestiae repellendus praesentium velit temporibus eos mollitia nihil doloribus. Nisi rem suscipit voluptate cum beatae necessitatibus. Dicta harum quas, ipsam molestiae id ullam sint dolore, dolores nemo quos, beatae neque consectetur. Repellat, laudantium doloremque voluptatibus saepe molestias libero eaque tempore minima ut assumenda.</p>
  </div>
</div>
