@import 'variables'; 

#product-banner {
    margin: 0;
    padding: 0;
    height: 50vh;

    .dark-overlay {
        background-color: rgba($void, 0.4);
        height: 50vh;

        h2 {
            color: $stark;
        }
    }
}

#description {
    img {
        height: 30vh;
    }
}

#schematics {
    .dark-overlay {
        background-color: rgba(0, 0, 0, 0.6);
    }

    img {
        height: 35vh;
    }
}