<div *ngIf="product$ | async; let product">
    <div id="product-banner" [ngStyle]="bannerStyling(product)">
        <div class="dark-overlay">
            <app-navbar></app-navbar>
            <h2 class="text-center">{{product.name}}</h2>
        </div>
    </div>
    <div class="row pt-5 pb-3" id="description">
        <div class="col-md-3 offset-md-1 col-sm-12">
            <img src="assets/images/{{product.banner_images[1]}}" alt="Bike Vertical" class="rounded-circle">
        </div>
        <div class="col-md-7 col-sm-12">
            <p>{{product.description}}</p>
        </div>
    </div>
    <div id="schematics" class="bg-dark">
        <h4 class="text-center text-white">The {{product.name}} comes in the following measurements</h4>
        <div class="row pt-5 pb-3">
            <div class="col-md-6 col-sm-12" 
                *ngFor="let schematic of product.schematic_images; let i = index">
                <div class="card text-center text-white" id="schematic-card">
                    <img src="assets/images/{{schematic}}" alt="" class="card-img img-fluid" height="auto">
                    <div class="card-img-overlay dark-overlay">
                        <h3 class="card-title">{{product.measurements[i]}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>